$primaryColor: #f3d7be;
$secondaryColor: #405d27;
$thirdColor: #3e4444;
$optionalColor: #82b74b;
$borderColor: rgb(235, 229, 229);

body {
    background-color: $primaryColor;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.bg {
    background-image: url("https://cdn.recolor.com/u/8wjNJuRHx8aBaylyndi61bKBJLM2/p/L_VGNZ5a1rnc?w=640");
    background-repeat: no-repeat;
    background-size: cover; 
    background-position: center; 
    width: 100%;
    height: 100vh; 

    .welcome-page-header{
         color: $primaryColor;
         text-align: center;
         padding: 30vh;
         font-size: 50px;
         font-weight: 400;
         letter-spacing: 6px;
         font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}