body {
  background-color: rgb(250, 250, 181);
}
/* Registration Page */
.App {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  padding-top: 80px;
}
header {
  font-size: 55px;
  color: blue;
  display: block;
  text-align: center;
  padding-top: 120px;
  font-weight: 600;
  letter-spacing: 4px;
}

form {
  width: 30%;
  text-align: center;
  border: 1px solid rgb(226, 206, 206);
  padding: 60px;
  border-radius: 14px;
}
input {
  padding: 20px;
  margin: 15px;
  letter-spacing: 2px;
  width: 90%;
  border-radius: 6px;
}
label {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
  font-size: 30px;
  color: blue;
  letter-spacing: 3px;
}
button {
  display: block;
  margin: 0 auto;
  padding: 15px 10px;
  width: 30%;
  margin-top: 40px;
  border: 1px solid blue;
  border-radius: 12px;
  background-color: blue;
  color: yellow;
  font-size: 20px;
  letter-spacing: 2px;
}
span {
  display: block;
  color: red;
  font-size: 18px;
  margin-top: 2px;
  font-weight: 500;
  letter-spacing: 2px;
}
/* WelcomePage */

#welcome-page-header {
  color:rgb(68, 68, 244);
  font-size: 50px;
  letter-spacing: 2px;
}
#smile {
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}
#welcome-btn {
  display: block;
  margin: 0 auto;
  margin-top: 40px;
  padding: 15px 20px;
  border: 1px solid blue;
  border-radius: 12px;
  color: yellow;
  font-size: 20px;
  background-color: rgb(106, 106, 224);

}
#welcome-btn:hover{
  background-color: rgb(208, 208, 78);
  color: blue;
}